html, body {
    font-family: var(--Main-Font);
}

.page-section {
    min-height: 50vh;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    //max-height: 50vh;
    margin-top: 120px;
    background-image: url('https://raw.githubusercontent.com/francovanney/vivere-react/gh-pages/background.jpg') !important;
    min-height: 100vh !important;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5 {
    margin: 0 !important;
    padding: 0 !important;
}

Button {
    color: var(--WhiteColor)  !important;
    background-color: var(--FirstColor) !important;
    border: none !important;
    &:hover {
        opacity: 0.8;
        transition: opacity .3s ease-in-out;
    }
}

#button-custom {
    padding: .75em 1.5em;
    border-radius: 15px;
    width: 100%;
}

#button-cv {
    padding: .75em 1.5em;
    border-radius: 15px;
}

.custom-icon {
    color: var(--FirstColor) !important;
    &:hover {
        color: var(--BlackColor) !important;
        transition: all .2s !important;
    }
}

#titulo-menu {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px !important;
    font-size: 40px;
    font-family: inherit;
    color: #fff;
    text-shadow: black 0.1em 0.1em 0.2em;
}

#lista-gustos {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    list-style: none;
    color: white !important;
    text-shadow: black 0.1em 0.1em 0.2em;
}

hr {
    color: white !important;
    border-width: 2px !important;
    opacity: .75;
}

#subtitle {
    font-size: 1.5em !important;
    margin-bottom: 10px !important;
}

