
// FONTS IMPORTS


@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap");


// GLOBAL VARIABLES
:root {
    // FONTS //
    --Main-Font: "Yanone Kaffeesatz";
    
    // COLORS //

    --FirstColor: #17bed2;
    --SecondColor: #FF6600;
    --AccentColor: #F13166;
    --AccentColorContrast: #CC00CC;
    --BlackColor: #1A1A1A;
    --WhiteColor: #F2F2F2;
}