footer {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(255,255,255,1) 19%, #1E8250 99%, rgba(0,0,0,1) 100%);
}

#footer-row {
    margin-top: 100px !important;
}

.footer-icon {
    color: #4b4b4b !important;
    filter:drop-shadow(1px 1px 1px rgba(225, 225, 225, 0.5)) !important;
    &:hover {
        color: var(--WhiteColor) !important;
        transition: all .2s;
    }
}

a {
    text-decoration: none !important;
    font-weight: 300 !important;
}